*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

ul,
li {
  list-style: none;
}

option,
select,
input,
button,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

a {
  color: inherit;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

html.lock,
body.lock {
  overflow: hidden;
}

._img {
  display: block;
  font-size: 0;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 15px;
}

.select {
  font-family: Arial, Helvetica, sans-serif;
}

.select__value {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select__option-wrap {
  display: none;
}

.select__option-wrap.active {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

.select__group {
  padding-bottom: 10px;
}

.select__group:last-child {
  padding-bottom: 0;
}

.select__title {
  font-size: 18px;
  font-weight: 500;
}

.select__option {
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  cursor: pointer;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}

.select__option:hover {
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  -o-transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
  text-decoration: underline;
}